IDD_StartPageCheck DIALOGEX 0, 0, 239, 174
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "如遇杀毒软件提示是否允许，请设为允许，谢谢！"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "确定",IDOK,40,150,50,14
    PUSHBUTTON      "不想弹出广告点这里",IDCANCEL,113,150,96,14
    CONTROL         "设2345网址导航为首页——再也不用记各种网址了",IDC_StartPageCHECK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,23,15,193,10
    CONTROL         "安装免费网络电视，海外大片、高清影视、动漫卡通、娱乐选秀、各地电视台，尽可一览无余。",IDC_StartPageCHECK2,
                    "Button",BS_AUTOCHECKBOX | BS_MULTILINE | WS_TABSTOP,23,24,188,26
    LTEXT           "本人推荐的软件都是合法正规的精品软件,如果你不想每次运行都弹出此窗口，或者希望支持一下作者，可以随手安装一下这些免费软件，或者你也可以到官方网站找到不弹广告的方法。如果杀毒软件阻止这些软件的安装，请手工设为信任或允许，谢谢！",IDC_STATIC,31,98,172,48
    CONTROL         "WPS Office，顶尖的国产办公学习软件！",IDC_StartPageCHECK3,"Button",BS_AUTOCHECKBOX | BS_MULTILINE | WS_TABSTOP,23,47,197,26
    CONTROL         "金山毒霸2012永久免费,革命性杀毒体系,全球首创敢赔模式,秒杀全新病毒,难以置信的轻巧快速!",IDC_StartPageCHECK4,
                    "Button",BS_AUTOCHECKBOX | BS_MULTILINE | WS_TABSTOP,23,70,180,26
END

TASK_TIMETASK_DLG DIALOGEX 0, 0, 314, 342
STYLE DS_SETFONT | DS_MODALFRAME | WS_MINIMIZEBOX | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_APPWINDOW
CAPTION "定时关机或执行其他任务"
FONT 9, "宋体", 0, 0, 0x1
BEGIN
    EDITTEXT        TASK_EDIT4,202,207,36,16,ES_AUTOHSCROLL | ES_NUMBER
    GROUPBOX        "时间设定2（指定时间）——月和日如果都设为0，则每天自动重复执行此任务",IDC_STATIC,7,194,297,42
    EDITTEXT        TASK_EDIT3,138,207,37,16,ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "时",IDC_STATIC,184,211,11,11
    LTEXT           "分",IDC_STATIC,244,211,11,11
    EDITTEXT        TASK_EDIT6,80,207,36,16,ES_AUTOHSCROLL | ES_NUMBER
    EDITTEXT        TASK_EDIT5,16,207,37,16,ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "月",IDC_STATIC,62,211,11,11
    LTEXT           "日",IDC_STATIC,122,211,11,11
    GROUPBOX        "任务设定——可以设定截屏、打开网站、登录QQ、启动迅雷、关机重启等各种任务",IDC_STATIC,8,244,297,60
    LTEXT           "任务内容：",IDC_STATIC,14,264,41,11
    COMBOBOX        TASK_COMBO1,73,261,212,30,CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON   "添加任务到计划中",TASK_BUTTON2,52,309,75,18
    CONTROL         "",TASK_LIST1,"SysListView32",LVS_REPORT | LVS_ALIGNLEFT | WS_BORDER | WS_TABSTOP,4,8,306,99
    PUSHBUTTON      "暂停选中的任务",TASK_BUTTON5,110,115,75,18
    PUSHBUTTON      "设定完毕",TASK_OVER,192,309,75,18
    PUSHBUTTON      "删除选中的任务",TASK_BUTTON6,12,115,75,18
    GROUPBOX        "时间设定1（间隔时间）——如果间隔时间不为0或空，优先以时间设定1为准",IDC_STATIC,7,143,297,42
    LTEXT           "每",IDC_STATIC,34,164,11,11
    EDITTEXT        TASK_EDIT7,48,161,36,14,ES_AUTOHSCROLL | ES_NUMBER
    COMBOBOX        TASK_COMBO2,89,161,32,30,CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP
    LTEXT           "执行一次",IDC_STATIC,129,163,40,11
    LTEXT           "执行",IDC_STATIC,258,211,40,11
    PUSHBUTTON      "启用选中的任务",TASK_BUTTON7,211,115,75,18
    LTEXT           "截屏保存路径：",IDC_STATIC,14,287,56,11
    EDITTEXT        TASK_EDIT8,73,283,160,14,ES_AUTOHSCROLL | ES_NUMBER
    PUSHBUTTON      "选择文件夹",TASK_SelectSavePath,239,282,56,16
END

PWD_LOGIN DIALOGEX 0, 0, 194, 102
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "默认密码为空，第一次使用请修改密码"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    EDITTEXT        PWD_EDIT1,75,15,94,12,ES_PASSWORD | ES_AUTOHSCROLL
    EDITTEXT        PWD_EDIT2,75,40,94,12,ES_AUTOHSCROLL | WS_DISABLED
    DEFPUSHBUTTON   "确定",PWD_OK,26,70,46,14
    LTEXT           "输入密码：",IDC_STATIC,22,16,40,10
    CONTROL         "修改密码：",PWD_CHECK1,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,22,41,50,10
    PUSHBUTTON      "直接退出",PWD_BUTTON1,119,70,46,14
END

IDD_REGSOFT DIALOGEX 0, 0, 215, 113
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "软件注册窗口"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    EDITTEXT        IDC_REGKEYCODE,93,47,84,14,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "确定",IDOK,32,82,50,14
    PUSHBUTTON      "取消",IDCANCEL,135,82,50,14
    LTEXT           "电脑机器码：",IDC_STATIC,37,23,49,8
    EDITTEXT        IDC_MACHINECODE,93,20,84,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "软件注册码：",IDC_STATIC,37,49,49,8
END

HIDE_HIDEFOLDER DIALOGEX 0, 0, 316, 204
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_ACCEPTFILES
CAPTION "添加要隐藏和锁定的文件夹——支持鼠标拖放"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "添加",HIDE_OK,49,167,50,14
    PUSHBUTTON      "取消",HIDE_CANCEL,205,167,62,14
    CONTROL         "",HIDE_LIST1,"SysListView32",LVS_REPORT | LVS_ALIGNLEFT | WS_BORDER | WS_TABSTOP,11,7,294,96
    PUSHBUTTON      "解除选中条目的隐藏",HIDE_BUTTON7,127,110,84,19
    PUSHBUTTON      "删除选中的条目",HIDE_BUTTON8,232,110,68,19
    EDITTEXT        HIDE_EDIT1,57,140,156,14,ES_AUTOHSCROLL
    LTEXT           "文件夹：",IDC_STATIC,16,144,33,8
    PUSHBUTTON      "浏览",HIDE_BUTTON9,242,140,50,14
    PUSHBUTTON      "隐藏选中的文件夹",HIDE_BUTTON10,19,111,84,19
END
